*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Roboto, sans-serif;
    width: 100%;
}

#navbar, footer, #about-us {
    background-color: #1F2937;
}

#navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    position: fixed;
    top: 0;
    width: 100%;
    height: auto;
}

.right-links a {
    gap: 40px;
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
 }

main {
    margin-top: 20px;
}

main, #about-us, #timeless-book, #quotes, #last-call, footer {
    width: 100%;
    height: auto;
}

#about-us {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.heros {
    width: 50%;
    max-width: 50%;
    height: auto;
    padding: 40px;
    display: flex;
    flex-direction: column;
    margin: 100px auto;
    gap: 20px;
}

#about-us img {
    width: 50%;
    max-width: 100%;
    height: auto;
    padding: 40px;
    margin: 100px auto;
}

.hero-main {
    color: #F9FAF8;
    font-weight: 900;
    font-size: 48px;
}

.hero-secondary {
    color: #E5E7EB;
    font-size: 18px;
}

.logo-text, .action-title {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 800;
}

button {
    color: white;
    background-color: #3882F6;
    border: 2px solid white;
    border-radius: 8px;
    width: 120px;
    height: 30px;
}

h2 {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    text-align: center;
    margin-bottom: 20px;
}

#timeless-books {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    padding: 20px;
    gap: 20px;
}

#books {
    display: flex;
    justify-content: space-between;
    text-align: center;
    gap: 40px;
}

.book {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
    gap: 10px;
}

#books img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.book-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.book-notes {
    font-size: 18px;
    font-style: italic;
    color: darkslategray;
}

#quotes {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px;
    gap: 40px;
}

.quote {
    font-size: 36px;
    font-weight: 300;
    color: #1F2937;
    font-style: italic;
    width: 80%;
    max-width: 100%;
}

span {
    font-weight: bold;
}

#last-call {
    background-color: white;
    max-height: 300px;
    padding: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
}

.action {
    background-color: #3882F6;
    height: 150px;
    color: #F9FAF8;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    padding: 40px;
    width: 60%;
}

footer {
    color: #F9FAF8;
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}



