* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Roboto, sans-serif;
}

header, footer {
    background-color: #1F2937;
}

.hero-main {
    color: #F9FAF8;
    font-weight: 900;
    font-size: 48px;
}

.hero-secondary {
    color: #E5E7EB;
    font-size: 18px;
}

.logo-text {
    font-size: 24px;
    color: #F9FAF8;
}

a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

footer {
    color: #F9FAF8;
}