/* --reset and default-- */
*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Roboto, sans-serif;
    width: 100%;
    padding-top: 60px;/*added to prevent fixed navbar cover main content*/
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

/* assign background-color to each element to improve grouping
#navbar, footer, #about-us {
    background-color: #1F2937;
} */

#navbar {
    background-color: #1F2937;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;/*ensure stick to the left*/
    z-index: 999;/*ensure always on top*/
    width: 100%;
    height: auto;
}


.logo-text {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 800;
}

.right-links {
    display: flex;/*style to flex, move gap here*/
    gap: 20px;
}

.right-links a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
 }

/*---Hero section--*/
#about-us {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 20px;
    gap: 80px;
}

.heros {
    flex: 1;
    max-width: 500px;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.hero-main {
    color: #F9FAF8;
    font-weight: 900;
    font-size: 48px;
}

.hero-secondary {
    color: #E5E7EB;
    font-size: 18px;
}

.main-image {
    max-width: 800px;
    height: auto;
}

/*Buttons*/
button {
    color: white;
    background-color: #3882F6;
    border: 2px solid white;
    border-radius: 8px;
    width: 200px;
    padding: 10px 30px;  
}

/*Books Section*/
#timeless-books {
    background-color: white;
    text-align: center;
    padding: 60px 20px;
    
}

h2 {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    margin-bottom: 40px;
}

#books {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}

.book {
    max-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;   
    gap: 15px;
}

#books img {
    width: 250px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 10px;
}

.book-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.book-notes {
    font-size: 18px;
    font-style: italic;
    color: darkslategray;
}

#quotes {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px;
    gap: 40px;
}

.quote {
    font-size: 36px;
    font-weight: 300;
    color: #1F2937;
    font-style: italic;
    width: 80%;
    max-width: 100%;
}

span {
    font-weight: bold;
}

#last-call {
    background-color: white;
    max-height: 300px;
    padding: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
}

.action {
    background-color: #3882F6;
    height: 150px;
    color: #F9FAF8;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    padding: 40px;
    width: 60%;
}

.action-title {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 800;
    margin-bottom: 10px;
}

footer {
    background-color: #1F2937;
    color: #F9FAF8;
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}



